    body {
      font-family: Arial, Helvetica, sans-serif;


    }
    header {
        display: flex;
    }
    img {
         width: 200px;
         height: 180px;
        


    }
    .navigation {

        font-size:large;
        margin-top: 80px;
    
    }
    
    .with-borders {
        display: inline;
        margin: 10px;

    }
    
    a {
        color: black;
        text-decoration: none;
        
    
    }
    
    a:hover {
    
    text-decoration:underline;
    
    
    
    }
    .breadcrumbs__item {
        display: inline;
        margin-left: 0px;
        padding-left: 0px;
        font-size: small;
    }
    
           
          
    
    .breadcrumbs__item:not(:last-of-type)::after {
    
          content: '/';
          margin: 0;
          padding: 10px;
    
    }
    .breadcrumbs__link--active {

       color: cornflowerblue;

    }
    
    .intro {

        font-size: larger;
    }
    section {

       display:inline-block;
       border:1.2px solid black;
       width: 200px;
       height: 390px;
       margin-left: 40px;
       margin-top: 20px;
       padding: 30px;
       background-color:rgb(237, 244, 250);
    }
    .animephoto {
       width: 200px;
       height: 250px;

    }

    
    .realPrice {
        color:gray;
        
    }

    
    

    

   
    