body {
    margin: 0px;
    padding: 0px;   
}

header {
    width:100%;
    height: 356px;
    background-image: url("hero-image.png");
    background-repeat: no-repeat;
    background-size:contain;
    display: flex;
    justify-content: center;
}

.headercontainer {
       
    width: 90%;
    height: 100px;
    display: block;
}

.logo {

    font-family: Arial, Helvetica, sans-serif;
    font-weight:900;
}

.headercontainer2 {
    
       display: flex;
       flex-direction: column;
}

.logoNav {
    
    color: white;
    display: flex;
    align-items:baseline;
    justify-content: space-between;   
}

.navigation {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    font-size: small;   
}

.navigation a {
    
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.navigation a:hover {

    text-decoration:underline;
}

#login {

    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius:4px;
    width: 70px;
    height: 30px;
}

#postOffer {
      
    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius:4px;
    width:200px;
    height: 34px;
}

.whiteTitle {

    color: white;
    font-size:34px;
    font-family: Arial, Helvetica, sans-serif;
}

.whiteParagraph {
    width: 80%;
    color: white;
    font-size: 15px;
}

.mainDivH {
    margin-left: 60px;
    width:90%;
    display: flex;
    align-items: baseline;
    justify-content:space-between; 
}

#VJO {
     color:dodgerblue ;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 600;
     font-size: small;
}

.Psection {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.blackTitle {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.TitleIcons {

    margin-left: 5%;
}
.divC {
    
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

.uperDiv {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.lowerDiv {
    width: 300px;
    display: flex;
    align-items:flex-end;
}

.HJunior {

    font-size: medium;
    color:dodgerblue;
}

.dateSpan {
    color:gray;
    font-size:12px;
}

.names {

    color:gray;
    font-size:13px;
}

.Bnames {

    color:black;
    font-size:13px;
}

.grayParagraph {
    height: 70px;
    font-size: 15px;
    color:gray;
    font-weight:300;
}

#button {

    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius:4px;
    width: 25px;
    height: 25px;
}

footer {

    display: flex;
    flex-direction: column;
    align-items: center;
}


.Fsection {
    background-color: black;
    background-image: url("Newsletter-image.png");
    background-size:contain;
    width:90%;
    height: 250px;   
}

#email {

    width: 300px;
    height: 30px;
    border-radius: 4px;
}

#subscribe {
    background-color: dodgerblue;
    border: none;
    border-radius:4px;
    width: 160px;
    height: 34px;
}

#recieveDiv {

    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 15px;
    margin-left: 30px;
}

#navBottom {
    width: 700px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navBottom a {
    
    color: rgb(95, 95, 95);
    font-size: 10px;
    font-weight:600;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#navBottom a:hover {
    
    text-decoration: underline;
}